body {
    background-color: #1C1C1C;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}


#main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#ui {
    background-color: #1F2937;
    padding: 5%;
    border-radius: 10px;

}


h1 {
    font-size: 40px;
}


span {
    color: #4ADF86;
}


p {
    font-weight: 200;
    font-size: 25px;
}


button {
    border: none;
    border-radius: 5px;
    background-color: #10B981;
    color: white;
    font-family: inherit;
    font-size: 20px;
    font-weight: 200;
    padding: 10px;
    margin: 40px 0 26px 0;
    display: block;
}


button:hover {
    cursor: pointer;
}


#checkbox-div {
    display: flex;
    justify-content: space-evenly;
}


label {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    margin: 0 5px 0 0;
}


.checkbox-seperator {
    border-right: solid 1px white;
}


hr {
    color: #2F3E53;
}


#passwords-container {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 0 0;
}


.pass-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #273549;
    width: 47%;
    height: 21px;
    padding: 10px 0;
    border-radius: 5px;
    color: #55F991;
}


@media screen and (min-width: 320px) and (max-width: 480px) {

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }

    button {
        margin: 25px 0 20px 0;
        font-size: 15px;
    }

    #checkbox-div {
        font-size: 12px;
    }

    .pass-div {
        height: 16px;
        font-size: 12px;
    }

    #passwords-container {
        margin: 15px 0 0 0;
    }
}
